
<%- include("partials/header"); -%>
    <form action="/delete/<%= post._id %>" method="post">
        
    <h1><%=post.title%></h1>
    <p><%=post.content%></p>
    
    
    <button type="submit">Delete</button></form>
    
<%- include("partials/footer"); -%>
